<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/b-print-1.7.0/cr-1.5.3/fc-3.3.2/fh-3.1.8/r-2.2.7/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/site.css}"/>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/b-print-1.7.0/cr-1.5.3/fc-3.3.2/fh-3.1.8/r-2.2.7/sl-1.3.3/datatables.min.js"></script>
<title>[[#{evms}]]</title>
</head>
<body th:style="${'background-image: url('} + @{/images/bg.jpg} + ${')'}">
  <header>
    <nav class="navbar navbar-expand navbar-dark justify-content-between fixed-top" role="navigation">    
      <a class="navbar-brand" href="#"><img th:src="@{/images/logo.png}" alt="EVMS Logo" width="8%" />&nbsp;&nbsp;[[#{evms}]]</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-nowrap">
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="adminDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">[[#{admin}]]</a>
            <div class="dropdown-menu" aria-labelledby="adminDropdownMenuLink">
               <a class="dropdown-item" th:href="@{/}" th:text="#{vaccineType}"></a>              
            </div>
          </li> 
        </ul>
      </div>
    </nav>
  </header>
  <h1 class="text-center" th:text="#{maintainVaccineType}"></h1>
  <section class="container">
    <div class="row justify-content-center">
	  <form id="vaccineTypeForm" th:action="@{/edit}" th:object="${vaccineType}" method="post">
	    <fieldset>
	      <div class="row col form-header justify-content-center py-0 my-0 alert alert-primary border border-primary">
	        <h3 th:text="#{maintainVaccineType}"></h3>
	      </div>
	      <div class="row col alert alert-primary border border-primary">
	        <div class="row justify-content-center">
	          <div class="form-group col-sm-3">
	            <label class="control-label" for="name" th:text="#{name}"></label>
	            <input th:if="${vaccineType.name == null}" class="form-control" type="text" th:placeholder="#{name}" required th:field="*{name}" />
	            <span th:if="${vaccineType.name != null}" th:text="${vaccineType.name}"></span>
	            <input th:if="${vaccineType.name != null}" type="hidden" th:field="*{name}" />
	          </div>
	          <div class="form-group col-sm-9">
	            <label class="control-label" for="descr" th:text="#{descr}"></label>
	            <input class="form-control" type="text" th:placeholder="#{descr}" required th:field="*{description}" />
	          </div>	          
	        </div>
	        <div class="row col-sm-12 justify-content-center">
	          <input id="vaccineTypeSubmit" name="vaccineTypeSubmit" th:value="${vaccineType.name != null} ? #{edit} : #{add}" class="btn btn-primary" type="submit"/> 
	        </div>
	      </div>
	    </fieldset>
	  </form>
    </div>		  
  </section>
</body>
</html>